:root{
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite:#f3f3f3;
  --mainDark: #232528;
  --mainYellow:#ffa400;
}
/* font-family: 'Noto Sans', sans-serif; */
body{
 
font-family: 'Oswald', sans-serif !important;
background: var(--mainWhite) !important;
color:var(--mainDark) !important;
}

.text-title{
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-bright{
  color: var(--mainBlue);
}
.btn-black{
  background: var(--mainWhite);
  text-transform: capitalize;
  font-size:  0.8rem !important;
  color: var(--mainDark);
  border-radius: 1 !important;
  border: 0.1rem solid var(--mainBlue) !important;
}
.btn-black:hover{
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}

.footer_{
  background: var(--mainBlue);
  color: var(--mainWhite) !important;
  font-size: 0.8rem;
  text-transform: capitalize;
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
}